body{background-color: #E6EAEC; padding-bottom: 35px;}

h1, h2, a{color: #102441; font-family: 'Lusitana', serif;}
header h1{font-size: 1.6em; cursor: pointer; display: inline-block;}
p{font-family: 'Open Sans', sans-serif;}
a{text-decoration: none; font-weight: 700; font-size: 1.1em; color: #8D191B;}
a:hover{color: #AA555D;}

.row{width: 1100px; margin: 0 auto; padding: 0 20px;}

.is-hidden{display: none;}

.form_container{background-color: #102441; padding: 15px; font-family: 'Open Sans', sans-serif;

		-webkit-transition: background-color 700ms linear;
		-moz-transition: background-color 700ms linear;
		-o-transition: background-color 700ms linear;
		-ms-transition: background-color 700ms linear;
		transition: background-color 700ms linear;}
.form_container p{color: #fff; text-align: center; font-weight: 300;}
.form_container input{margin: 32px auto; display: block;
		padding: 7px 10px;
    border: solid 1px #b5b5b5;
    outline: 0;
    width: 250px;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #F1F0F5), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #F1F0F5 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;

}
.form_container label{color: #fff; font-weight: 300; margin: 0 auto; font-size: .75em;
		position: absolute; margin-top: -19px;}

ul li{list-style-type:none;}
ul{width: 275px; margin: 0 auto; padding: 0;}

label{ -webkit-transition: .333s ease margin-top, .333s ease opacity;
    transition: .333s ease margin-top, .333s ease opacity;}
.submitBtn button{-webkit-transition: .5s ease; transition: .5s ease;}

.js-hide-label{
	opacity: 0;
	margin-top: 0;
}

.submitBtn button{
	background-color: #2575ad; border: 0px; border-radius: 3px;
	color: #DDE8ED; font-size: 1.1em; padding: 8px 0px;
	font-weight: 600;
	width: 100%;
	}

.submitBtn button:hover{opacity: .8;}
.submitBtn button:focus{outline: 0;}
.submitBtn{padding-bottom: 30px}

.successful{color: #2575ad!important; font-weight: 400!important; font-size: 1.2em; text-align: center!important;}
.failure{color: #8D191B!important; font-weight: 400!important; font-size: 1.2em; text-align: center!important;}

.white_bg{background-color: #fff!important;}
.white_bg p{color: #231F20; width: 800px; margin: 25px auto; text-align: left;}

.links{width: 800px; margin: 0 auto;}
.links a{display: block; padding: 6px 0;}
.links .thin{font-weight: 300;}

@media (max-width: 1100px) {
	.row{width: 93%;}
}

@media (max-width: 800px) {
	.white_bg p{width: 93%;}
}